<%- include('./includes/scripts.ejs'); %>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>

		<!-- main page container -->
		<div class="container">

				<!-- Login form -->
				<div class="row" style="margin-top: 20px;">
					<div class="col-lg-4 col-md-3 col-sm-3"></div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<h1 style="text-align: center; margin-bottom: 20px;">MINDER</h1>
						<% if (typeof err_msg !== 'undefined') { %>
							<div class="alert alert-danger" role="alert"><%= err_msg %></div>
						<% } %>
						<div class="panel panel-default">
							<div class="panel-heading">
								Administrator Login
							</div>
							<div class="panel-body">
								<form id="login_form" method="POST" action="/login">
									<div class="form-group">
										<label for="email">Email address</label>
										<input type="email" class="form-control" name="username" placeholder="Email" autocomplete="off">
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off">
									</div>
							</div>
							<div class="panel-footer">
								<div class="form-group">
									<p>
										Not a member? <a href="/register">Register</a>
										<button class="btn btn-primary pull-right" type="submit" id="reg_btn">Login</button>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-3 col-sm-3"></div>
				</div>

		</div>
	</body>
</html>
