<%- include('./includes/scripts.ejs'); %>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>

		<!-- main page container -->
		<div class="container-fluid">

				<!-- Registration form -->
				<div class="row" style="margin-top: 20px;">
					<div class="col-lg-5 col-md-4"></div>

					<div class="col-lg-5 col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								Register your organisation
							</div>
							<div class="panel-body">

								<div class="form-group">
									<label for="fname">Firstname:</label>
									<input type="text" class="form-control" name="fname" placeholder="Fistname" autocomplete="off" required>
								</div>

								<div class="form-group">
									<label for="fname">Firstname:</label>
									<input type="text" class="form-control" name="fname" placeholder="Fistname" autocomplete="off" required>
								</div>

								<div class="form-group">
									<label for="fname">Firstname:</label>
									<input type="text" class="form-control" name="fname" placeholder="Fistname" autocomplete="off" required>
								</div>

							</div>
						</div>
					</div>
				</div>

		</div>
	</body>
</html>
